.container {
  button {
    transition: all 0.1s ease-in-out;
    @apply bg-primary-100 text-white text-[length:var(--fs-micro)] font-[number:var(--fw-700)] cursor-pointer flex items-center justify-center px-[1em] py-[0.6em] rounded-full;
  }

  .following {
    width: calc(var(--fs-kilo) * 3);
    color: var(--clr-secondary);
    @apply bg-primary-100/10 text-[var(--clr-primary)];

    &:hover {
      color: var(--clr-red);
      @apply bg-red-700/10;
    }

    &:hover:active {
      @apply bg-red-300/20;
    }

    &:focus-visible {
      outline: 2px solid var(--clr-secondary);
    }
  }

  .follow {
    @apply bg-primary-100;

    &:hover {
      @apply bg-primary-200;
    }

    &:active {
      @apply bg-primary-300;
    }

    &:focus-visible {
      outline: 2px solid var(--clr-secondary);
      @apply bg-primary-200;
    }
  }
}
