.container {
  @apply flex flex-col items-start pb-[23px] select-none;

  .media {
    .container {
      @apply relative overflow-hidden max-w-80 mb-4;
    }

    img {
      @apply rounded h-auto object-contain;
    }
  }

  .text {
    direction: ltr;
    border-radius: 20px 20px 20px 4px;
    font-size: var(--fs-milli);
    @apply px-3 py-2 bg-[var(--clr-message-background)];
  }

  .info {
    margin-top: 6px;
    direction: ltr;
    @apply flex items-center gap-5 text-[var(--clr-tertiary)] text-xs;
  }

  .failedActions {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: var(--fs-nano);

    .delete,
    .tryAgain {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .delete {
      color: var(--clr-rose);
    }

    .tryAgain {
      color: var(--clr-primary);
    }
  }
}

.isSender {
  direction: rtl;

  .text {
    border-radius: 1.2rem 1.2rem 0.2rem 1.2rem;
    @apply text-white cursor-pointer transition duration-200 ease-in-out bg-[var(--clr-primary)];

    &:hover {
      background-color: var(--clr-primary-hover);
    }

    &:active {
      background-color: var(--clr-primary-active);
    }
  }

  .failed {
    background-color: var(--clr-rose);

    &:hover {
      background-color: var(--clr-rose);
    }

    &:active {
      background-color: var(--clr-rose);
    }
  }
}
