.container {
  padding-bottom: calc(100vh - 4rem);

  .trends {
    border-bottom: 1px solid var(--clr-border);
  }

  .posts {
    .post {
      border-bottom: 1px solid var(--clr-border);
    }
  }
}
